<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/main.css" type="text/html" />
    <title>Document</title>
  </head>
  <body>
    <h1>currency app for your family and friends</h1>
    <ul class="container">
      <%= data.header%> <% data.data.forEach((currency)=> { %>
      <li class="card"><%= currency.name %> - <%= currency.value%> KZT</li>
      <% }); %>
    </ul>
  </body>
</html>
