.error {
  border-bottom: 1px solid steelblue;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin: 20% auto 0 auto;
  width: 660px;
  text-align: center;
  font-size: larger;
}

.error h1 {
  color: rgb(209, 8, 8);
}
