body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

ul {
  padding: 0;
}

li {
  padding: 10px;
  list-style: none;
  border-radius: 10px;
}

.card {
  border: 2px solid lightgray;
}

.container {
  max-width: 880px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.fresh {
  color: rgb(89, 151, 89);
}
.old {
  color: rgb(99, 99, 99);
}
